<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/favicon.ico"> -->

    <title>Service Price Monitoring</title>
    <link rel="stylesheet" href="<?php echo ROOTSITE; ?>app/resources/assets/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="<?php echo ROOTSITE; ?>app/resources/assets/css/app-fontend.css">
    <script type="text/javascript" src="<?php echo ROOTSITE; ?>app/resources/assets/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
</head>
<body>


