</div>
</div>

<script>window.jQuery || document.write('<script src="<?php echo ROOTSITE; ?>app/resources/assets/js/jquery-slim.min.js"><\/script>')</script>
<script type='text/javascript' src='<?php echo ROOTSITE; ?>app/resources/assets/js/popper.min.js'></script>
<script type='text/javascript' src='<?php echo ROOTSITE; ?>app/resources/assets/js/bootstrap.min.js'></script>
<script type='text/javascript' src='<?php echo ROOTSITE; ?>app/resources/assets/js/app-backend.js'></script>


</body>
</html>