<nav class="navbar navbar-dark sticky-top bg-dark d-flex p-2">
    <a class="navbar-brand col-3 mr-auto" href="<?php echo ROOTSITE; ?>cabinet">PriceMonitor</a>

    <span class='navbar-text text-muted pr-3 pl-3'><i class="far fa-user text-white mr-1"></i> <?php echo Customer::getName(); ?></span>

    <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="<?php echo ROOTSITE; ?>logout">Выход <i class="far fa-sign-out-alt text-white ml-1"></i></a>
            </li>
    </ul>
    </>

</nav>
<div class="container-fluid">
    <div class="row">