<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-3 mr-0" href="<?php echo ROOTSITE; ?>cabinet">PriceMonitor</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

    <span class='navbar-text text-muted pr-3 pl-3'><?php echo Customer::getName(); ?></span>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="<?php echo ROOTSITE; ?>logout">Выход</a>
        </li>
    </ul>

</nav>
<div class="container-fluid">
    <div class="row">