<nav class="col-3 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-4 mt-4 mb-1 text-muted">
                <span>Кампании</span>
                <a class="d-flex align-items-center text-muted" href="<?php echo ROOTSITE . 'cabinet/campaign/add';?>">
                    <span data-toggle="tooltip" data-placement="right" title="Добавить кампанию"><i class="far fa-plus-circle fa-2x text-success"></i></span>
                </a>
            </h6>

                <?php echo Cabinet::getCampaignSidebarMenu(); ?>


    </div>
</nav>